* {
  margin: 0;
}
.azul {
  color: #fff;
  background-color: #1a99ee;
  margin: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#meuheader {
  font-size: 45px;
}

.logo {
  width: 350px;
  background: #000;
  margin: auto;
  display: flex;
  padding: 15px;
}
